/*introdução*/

.introduction{
	width: 100%;
	background: url("../back1.jpg") no-repeat fixed;
	background-size: cover; 
	margin-top: 0px;
	height: 700px;
	text-align: center;
	padding-top: 300px;


}

/*Type Writer*/

.pre {
    font-family: monospace;
    font-weight: bolder;

    font-size: 48px;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}




#tagline {
    color: grey;
    font-weight: bold;
}

#pow-txt {
    display: none;
    font-weight: 100;
    color: #e3e3e3 !important;
}
  
.paragrafo{
	color: #000;
	font-size: 18px;
	font-family: Hind, sans-serif;
	line-height: 20px;  
}

.back-QuemSomos{
	background: url("../back1.jpg");
	background-size: cover;
	height: 300px;
	opacity: 0.8;
	
}

/* conheça nossos preços da pagina inicial*/
.conheça-preços{
	text-transform: uppercase;
	font-size: 18px;
	font-family: Hind, sans-serif;
	line-height: 20px;
	color: #17bed2;
	font-weight: bold;
	padding: 15px 0;
}


.conheça-preços:after,
.conheça-preços:before{
 
padding: 5px;
 height: 14px;
 width: 14px;
 position: absolute;
 content: '';
 transition: all 0.35s ease;
 opacity: 0;

}

.conheça-preços:before{
  right: 0;
  top: 0;
  border-right: 3px solid  #17bed2;
  border-top: 3px solid  #17bed2;
  transform: translate(-100%, 50%);
}

.conheça-preços:after{
  left: 0;
  bottom: 0;
  border-left: 3px solid  #17bed2;
  border-bottom: 3px solid  #17bed2;
  transform: translate(100%, -50%);
}


.conheça-preços:hover:after,
.conheça-preços:hover:before{
  transform: translate(0%, 0%);
  opacity: 1;
}
.block{
	display: block;
}
/*type writer CANDIEIRO DIGITAL*/

.line-1{
    position: relative;
    top: 50%;  
    padding-bottom: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   	color: #515769;
  	font-family: monospace;     
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 0.5s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 9.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color:  #515769;}
  to{border-right-color: transparent;}
}

/*serviços*/
.back-serviços{
	background: url("../back-serviços1.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	height: 240px;
}
.back-serviços h3, p{
	color: #fff;
	text-transform: uppercase;
	padding-top: 15px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 15px;
}
.back-serviços p{
	padding:  10px 50px;
}

.icon{
	border: 2px solid #ddd;
    border-radius: 50%;
    color: #26485c;
    background-color: #fff;
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 86px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.icon:hover{
	transform: rotate(360deg);
	transition: 1s;
	color: #fff;
	background-color:  #26485c;

}

.pricing:after,
.pricing:before{
 
padding: 5px;
height: 14px;
width: 14px;
position: absolute;
content: '';
transition: all 0.35s ease;
opacity: 0;

}

.pricing:before{
  right: 0;
  top: 0;
  border-right: 3px solid  #17bed2;
  border-top: 3px solid  #17bed2;
  transform: translate(-100%, 50%);
}

.pricing:after{
  left: 0;
  bottom: 0;
  border-left: 3px solid  #17bed2;
  border-bottom: 3px solid  #17bed2;
  transform: translate(100%, -50%);
}


.pricing:hover:after,
.pricing:hover:before{
  transform: translate(0%, 0%);
  opacity: 1;
}

/*type writer SERVIÇOS*/

.line-2{
    position: relative;
    padding-bottom: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   	color: #515769;
  	font-family: monospace;
  	margin-top: 50px;
  	margin-left: 10px;
}

/* Animation */
.anim-typewriter2{
  animation: typewriter2 4s steps(44) 0.5s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 4.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color:  #515769;}
  to{border-right-color: transparent;}
}