

/* divisor da seção NOSSOS SERVIÇOS */
.section-title-divider-con-serviços {
    width: 130px;
    height: 3px;
    background: #515769;
    margin: 0 auto 20px;
}


/* divisor da seção NOSSOS DIFERENCIAIS */
.section-title-divider-con-diferenciais {
    width: 130px;
    height: 3px;
    background: #fff;
    margin: 0 auto 20px;
}


/*introdução*/

.introduction{
	width: 100%;
	background: url("../img/back1.jpg") no-repeat fixed;
	background-size: cover; 
	margin-top: 0px;
	height: 700px;
	text-align: center;
	padding-top: 300px;


}

/*Type Writer*/

.pre {
    font-family: monospace;
    font-weight: bolder;
    font-size: 48px;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}




#tagline {
    color: grey;
    font-weight: bold;
}

#pow-txt {
    display: none;
    font-weight: 100;
    color: #e3e3e3 !important;
}
  
.paragrafo{
	color: #000;
	font-size: 18px;
	font-family: Hind, sans-serif;
	line-height: 20px;  
}

.back-QuemSomos{
	background: url("../img/back1.jpg");
	background-size: cover;
	height: 300px;
	opacity: 0.8;
	
}

/* conheça nossos preços da pagina inicial*/
.conheça-preços{
	text-transform: uppercase;
	font-size: 18px;
	font-family: Hind, sans-serif;
	line-height: 20px;
	color: #17bed2;
	font-weight: bold;
	padding: 15px 0;
}


.conheça-preços:after,
.conheça-preços:before{
 
padding: 5px;
 height: 14px;
 width: 14px;
 position: absolute;
 content: '';
 transition: all 0.35s ease;
 opacity: 0;

}

.conheça-preços:before{
  right: 0;
  top: 0;
  border-right: 3px solid  #17bed2;
  border-top: 3px solid  #17bed2;
  transform: translate(-100%, 50%);
}

.conheça-preços:after{
  left: 0;
  bottom: 0;
  border-left: 3px solid  #17bed2;
  border-bottom: 3px solid  #17bed2;
  transform: translate(100%, -50%);
}


.conheça-preços:hover:after,
.conheça-preços:hover:before{
  transform: translate(0%, 0%);
  opacity: 1;
}
.block{
	display: block;
}
/*type writer CANDIEIRO DIGITAL*/

.line-1{
    position: relative;
    top: 50%;  
    padding-bottom: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   	color: #515769;
  	font-family: monospace;     
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 0.5s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes blinkTextCursor{
  from{border-right-color:  #515769;}
  to{border-right-color: transparent;}
}

/*serviços*/
.back-serviços{
	background: url("../img/back-serviços1.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	min-height: 240px;
}
.back-serviços h3, p{
	color: #fff;
	text-transform: uppercase;
	padding-top: 15px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 15px;
}
.back-serviços p{
	padding:  10px 50px;
}

.icon{
	border: 2px solid #ddd;
    border-radius: 50%;
    color: #26485c;
    background-color: #fff;
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 86px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.icon:hover{
	transform: rotate(360deg);
	transition: 1s;
	color: #fff;
	background-color:  #26485c;

}

.pricing:after,
.pricing:before{
 
padding: 5px;
height: 14px;
width: 14px;
position: absolute;
content: '';
transition: all 0.35s ease;
opacity: 0;

}

.pricing:before{
  right: 0;
  top: 0;
  border-right: 3px solid  #17bed2;
  border-top: 3px solid  #17bed2;
  transform: translate(-100%, 50%);
}

.pricing:after{
  left: 0;
  bottom: 0;
  border-left: 3px solid  #17bed2;
  border-bottom: 3px solid  #17bed2;
  transform: translate(100%, -50%);
}


.pricing:hover:after,
.pricing:hover:before{
  transform: translate(0%, 0%);
  opacity: 1;
}

/*type writer SERVIÇOS*/

.line-2{
    position: relative;
    padding-bottom: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   	color: #515769;
  	font-family: monospace;
  	margin-top: 50px;
  	margin-left: 10px;
}

/* Animation */
.anim-typewriter2{
  animation: typewriter2 4s steps(44) 0.5s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  margin: 0  auto;
  margin-top: 50px;
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 9em;}
}
@keyframes blinkTextCursor{
  from{border-right-color:  #515769;}
  to{border-right-color: transparent;}
}


/*diferenciais*/
.diferenciais{
	width: 100%;
	background: url("../img/back-diferenciais2.jpg") no-repeat fixed;
	background-size: cover; 
	margin-top: 0px;
	min-height: 500px;
	text-align: center;

}

.diferenciais h3 {
	color: #fff;
}

/*type writer DIFERENCIAIS*/
.line-3{
    position: relative;
    padding-bottom: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   	color: #fff;
  	font-family: monospace;
  	margin-top: 50px;
  	margin-left: 10px;
  	text-transform: uppercase;
}

/* Animation */
.anim-typewriter3{
  animation: typewriter3 4s steps(44) 0.5s 1 normal both,
             blinkTextCursor1 500ms steps(44) infinite normal;
  margin: 0  auto;
  margin-top: 50px;
}
@keyframes typewriter3{
  from{width: 0em;}
  to{width: 12em;}
}
@keyframes blinkTextCursor1{
  from{border-right-color:  #fff;}
  to{border-right-color: transparent;}
}

@media screen and (max-width: 600px) {
  .line3 p{
    font-size: 20px;
  }
}

/* icone */
.icon-diferencial{

    color: #fff;
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 86px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;

    border: 2px solid #ddd;
    border-radius: 50%;
    
}

.service-info h3{
	text-transform: uppercase;
}
.border-right{
	border-right: 3px solid  #fff;
}
/* footer */

/*type writer CONTATO*/
.line-4{
    position: relative;
    padding-bottom: 5px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
   	color: #fff;
  	font-family: monospace;
  
  	text-transform: uppercase;
}

/* Animation */
.anim-typewriter4{
  animation: typewriter4 2s steps(22) 0.5s 1 normal both,
             blinkTextCursor1 500ms steps(44) infinite normal;
  margin: 0  auto;

}
@keyframes typewriter4{
  from{width: 0em;}
  to{width: 05em;}
}
@keyframes blinkTextCursor1{
  from{border-right-color:  #fff;}
  to{border-right-color: transparent;}
}
/*lista*/

.address{
	list-style: none;
	
}

.address li{
	padding: 05px 0;
}

.address span:hover{
	font-weight: bold;
}

.address span{
	font-size: 15px;
	color: #fff;
	padding:0 5px;
}

.address i{
	color: #fff;

}

.inline{
	display: inline-block;
}

.address p{
	text-transform: none;
}

.address a{
	color: #17bed2;
}
.address a:hover{
	color: #515769;
}

/*social contact*/


a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
   
    color: #fff;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin-top: 50px; 
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook-f {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook-f:hover {
    background-color: #3d5b99;
}
.fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #527fa6;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #4284c0;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin-in {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin-in:hover {
    background-color: #0073a4;
}
.fa-google-plus-g {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus-g:hover {
    background-color: #e25714;
}

/*copyright*/

.text-center{
	text-align: center;
}

.copyright p{
	text-transform: none;
}

.copyright span{
	text-transform: uppercase;
}

.copyright a{
	color: #17bed2
}